@use '../../../../../styles/variables/icons' as icon;

.product-details-container{
    display: flex;
    flex-direction: column;
    align-items: center;

    .product-image {
        max-width: 40rem;
        max-height: 30rem;
        object-fit: cover;
    }
}
  
  .add-to-cart-icon {
    color: icon.$icon-primary;
  } 