
// Primary Colors
$primary: #ff33f5;  
$secondary: #7dcce2; 
$accent: #5a32f7; 

// Neutral Colors
$white: #fff;
$black: #000;
$gray: #808080;
$light-gray: #f0f0f0;
$dark-gray: #333;

// Accent Colors
$red: #ff0000;
$green: #00ff00;
$blue: #0000ff;
$yellow: #ffff00;
$purple: #800080;

// Background Colors
$light-background: #f9f1cd;
$dark-background: #333;

// Text Colors
$light-text: #fff;
$dark-text: #333;

// Border Colors
$border: #ccc;
$light-border: #ddd;
$dark-border: #333;


